.itemName {
    text-align: center;
}

.menuItem {
    background-color: grey;
    margin: 2%;
}

.container-fluid {
    padding: 15px;
    /* padding-left: 15px; */
}

.navbar-brand {
    font-size: 40px;
}

body {
    background-color: #61122F;
    color: white;
}